hostname {{hostname}}
!
!
!
ssh server vrf mgmt
!
!
!
!
!
router ospf 1
    router-id {{loopback0_ip}}
    area {{ospf_area}}
vlan 1
{% for vlan in server_vlans %}
vlan {{vlan}}
    name VLAN {{vlan}}
    description Server VLAN
{% endfor %}
{% for vlan in server_vlans %}
interface vxlan 1
    source ip {{loopback1_ip}}
    no shutdown
    vni {{vlan}}
        vlan {{vlan}}
{% endfor %}
{% for vlan in server_vlans %}
evpn
    vlan {{vlan}}
        rd auto
        route-target export auto
        route-target import auto
{% endfor %}
interface {{vsx_keepalive_int}}
    no shutdown
    description VSX KA
{% if vsx_role == 'primary' %}
    ip address {{vsx_keepalive_ip_primary}}/31
{% else %}
    ip address {{vsx_keepalive_ip_secondary}}/31
{% endif %}
interface lag {{vsx_isl_lagid}}
    no shutdown
    description VSX ISL LAG
    no routing
    vlan trunk native 1 tag
    vlan trunk allowed all
    lacp mode active
{% for interface in vsx_isl_ports %}
interface {{interface}}
    no shutdown
    description VSX ISL
{% if mtu is defined %}
    mtu {{mtu}}
{% endif %}
    lag {{vsx_isl_lagid}}
{% endfor %}
{% for int_data in vsx_pair_L3fabric_ips %}
interface {{int_data.interface}}
    no shutdown
{% if mtu is defined %}
    ip mtu {{mtu}}
    mtu {{mtu}}
{% endif %}
    description Spine-Uplink
    ip address {{int_data.ipv4}}/31
    ip ospf 1 area {{ospf_area}}
    ip ospf network point-to-point
{% endfor %}
interface loopback 0
    ip address {{loopback0_ip}}/32
    ip ospf 1 area {{ospf_area}}
interface loopback 1
    ip address {{loopback1_ip}}/32
    ip ospf 1 area {{ospf_area}}
vsx
    inter-switch-link lag {{vsx_isl_lagid}}
    role {{vsx_role}}
{% if vsx_role == 'primary' %}
    keepalive peer {{vsx_keepalive_ip_secondary}} source {{vsx_keepalive_ip_primary}}
{% else %}
    keepalive peer {{vsx_keepalive_ip_primary}} source {{vsx_keepalive_ip_secondary}}
{% endif %}
    no split-recovery
router bgp {{asn}}
    bgp router-id {{loopback0_ip}}
{% for loopback0_ip in spine_loopback0_ips %}
    neighbor {{loopback0_ip}} remote-as {{asn}}
    neighbor {{loopback0_ip}} update-source loopback 0
{% endfor %}
    address-family l2vpn evpn
{% for loopback0_ip in spine_loopback0_ips %}
    neighbor {{loopback0_ip}} activate
    neighbor {{loopback0_ip}} send-community extended
{% endfor %}
    exit-address-family
!
https-server rest access-mode read-write
https-server vrf mgmt
