hostname {{hostname}}
!
!
!
ssh server vrf mgmt
!
!
!
!
!
router ospf 1
    router-id {{loopback0_ip}}
    area {{ospf_area}}
vlan 1
{% for vsx_pair, vsx_pair_data in vsx_pair_downlinks.items() %}
{% for interface_data in vsx_pair_data %}
interface {{interface_data.vsx_pair_downlink_int}}
    no shutdown
{% if  mtu is defined %}
    ip mtu {{mtu}}
    mtu {{mtu}}
{% endif %}
    description {{vsx_pair}}-Downlink
    ip address {{interface_data.vsx_pair_downlink_ip}}/31
    ip ospf 1 area {{ospf_area}}
    ip ospf network point-to-point
{% endfor %}
{% endfor %}
interface loopback 0
    ip address {{loopback0_ip}}/32
    ip ospf 1 area {{ospf_area}}
router bgp {{asn}}
    bgp router-id {{loopback0_ip}}
{% for vsx_pair in vsx_pairs %}
{% for loopback in vsx_pair.loopback_ips %}
    neighbor {{loopback}} remote-as {{asn}}
    neighbor {{loopback}}  update-source loopback 0
{% endfor %}
{% endfor %}
    address-family l2vpn evpn
{% for vsx_pair in vsx_pairs %}
{% for loopback in vsx_pair.loopback_ips %}
    neighbor {{loopback}} activate
    neighbor {{loopback}} route-reflector-client
    neighbor {{loopback}} send-community extended
{% endfor %}
{% endfor %}
    exit-address-family
!
https-server rest access-mode read-write
https-server vrf mgmt
