hostname {{hostname}}
!
!
!
ssh server vrf mgmt
!
!
!
!
!
vlan 1
{% for vsx_pair, vsx_pair_data in vsx_pair_downlinks.items() %}
{% for interface_data in vsx_pair_data %}
interface {{interface_data.vsx_pair_downlink_int}}
    no shutdown
    description {{vsx_pair}}-Downlink
    ip address {{interface_data.vsx_pair_downlink_ip}}/31
{% if  mtu is defined %}
    ip mtu {{mtu}}
    mtu {{mtu}}
{% endif %}
{% endfor %}
{% endfor %}
interface loopback 0
    ip address {{loopback0_ip}}/32
router bgp {{asn}}
    bgp router-id {{loopback0_ip}}
    bgp fast-external-fallover
    bgp bestpath as-path multipath-relax
{% for vsx_pair in vsx_pairs %}
{% for loopback in vsx_pair.loopback_ips %}
    neighbor {{loopback}} remote-as {{vsx_pair.vsx_pair_asn}}
    neighbor {{loopback}} ebgp-multihop 3
{% endfor %}
{% endfor %}
{% for vsx_pair, vsx_pair_data in vsx_pair_downlinks.items() %}
{% for interface_data in vsx_pair_data %}
    neighbor {{interface_data.vsx_pair_uplink_ip}} remote-as {{interface_data.vsx_pair_asn}}
{% endfor %}
{% endfor %}
    address-family ipv4 unicast
{% for vsx_pair, vsx_pair_data in vsx_pair_downlinks.items() %}
{% for interface_data in vsx_pair_data %}
        neighbor {{interface_data.vsx_pair_uplink_ip}} activate
{% endfor %}
{% endfor %}
        redistribute connected
        network {{loopback0_ip}}/32
    exit-address-family
    address-family l2vpn evpn
{% for vsx_pair in vsx_pairs %}
{% for loopback in vsx_pair.loopback_ips %}
    neighbor {{loopback}} activate
    neighbor {{loopback}} next-hop-unchanged
    neighbor {{loopback}} send-community extended
{% endfor %}
{% endfor %}
    exit-address-family
!
https-server rest access-mode read-write
https-server vrf mgmt
